/* ============================== */
/* ! Layout for desktop version   */
/* ============================== */

body {
	background-color: #f1f1f1;
	font-family: arial, helvetica, sans-serif;
	font-size: 10px;
	font-weight: normal;
}

h3 {
	font-size: 1.9em;
    font-weight: bold;
	}

a {
	color: #41a62a;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
	}
	
.container {
	padding: 20px;
	margin: 0 auto;
	}
	
#menu-esho {
	margin: 20px auto;
	font-size: 1.2em;
	text-transform: uppercase;
	}

#menu-esho li {
	border-right: 1px solid #e1e1e1;
	border-left: 1px solid #eee;
	display: inline-block;
    line-height: 2em;
	padding: 0 10px;
	}
	
#menu-esho li:first-child, #menu-quicklinks li:last-child {
	border-left:none;
	}

#menu-esho li:last-child, #menu-quicklinks li:last-child {
	border-right:none;
	}
	
#menu-esho a {
	color: #000000;
	}

#menu-esho a:hover, #menu-esho a:active, li.current_page_item a {
	color: #41a62a;
	text-decoration: none;
	}

.slider {
		margin: 0 auto;
	}

/* === Load CSS before JavaScript === */

#slides {
	z-index: 1;
	}
		
/* Slides container Important: Set the width of your slides container. Set to display none, prevents content flash */
#slides .gallery {
	width:960px;
	display:none;
	z-index: -1;
	}

/* Each slide
Important: Set the width of your slides. If height not specified height will be set by the slide content. Set to display block */

#slides .gallery div {
	width:960px;
	height:440px;
	display:block;
	z-index: 1;
	}
	
#slides .prev, #slides .next {
	display: none;
}
		
/* Optional: Reset list default style */
.pagination {
	list-style:none;
	margin:0;
	padding:0;
	position: absolute;
    right: 160px;
    top: 125px;
    z-index: 100;
	}

.productlist .pagination {
	list-style:none;
	margin:0;
	padding:0;
	position: absolute;
    right: 160px;
    top: 360px;
    z-index: 100;
	}

.pagination li {
    display: inline-block;

	}

.pagination li a {
	text-indent: -9999px;
	background: url("../bilder/graphicSprite.png") repeat scroll 0 0 transparent;
    display: block;
    height: 12px;
    margin: 0 2px;
    width: 12px;
	}

/* Optional: Show the current slide in the pagination */
.pagination li.current a {
	background: url("../bilder/graphicSprite.png") repeat scroll 0 -15px transparent;
	}
	
.pagination li a:hover, .pagination li a:active {
	background: url("../bilder/graphicSprite.png") repeat scroll 0 -15px transparent;
}	


#gallery-1 .gallery-item {
margin-top: 0px !important;
width: 100% !important;
} 

#gallery-1 img {
border: none !important;
}

/* <====   =====> */
.footer {
	z-index: 110;
	
	}

.grass {
	margin: -170px auto 0;
	width: 960px;
	}

.puffar, .quicklinks, .legal {
		margin: 5px auto 0;
	}

.puffar div {
	background: #ffffff;
	border-radius: 5px; 
	-moz-border-radius: 5px; 
	-webkit-border-radius: 5px; 
	box-shadow:1px 1px 2px #e2e2e2;
	}

.puffar div div {
	margin: 20px;
	min-height: 135px;
	border-radius: 0;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	box-shadow: none;
	}
	
.puffar p {
	color: #646567;
	font-size: 1.2em;
	line-height: 1.4em;
	}

.puffar .leftpuff {
	margin: 0 1.5% 0 0;
	}
	
img.puff-thumb {
	float: right;
	widht: 150px;
	height: 150px;
	}

div.quicklinks {
	background: #ffffff;
	border-radius: 5px; 
	-moz-border-radius: 5px; 
	-webkit-border-radius: 5px; 
	box-shadow:1px 1px 2px #e2e2e2;
	line-height: 20px;
	}

.quicklinks div.sixcol {
	min-height: 15px;
	margin: 9px;
	font-align: right;
	}

#menu-quicklinks {
	text-align: right;
	line-height: 2em;
	color: #646567;
	font-size: 11px;
	}

#menu-quicklinks li {
	display: inline;
	border-right: 1px solid #e1e1e1;
	padding: 0 10px;
	font-size: 11px;
	}

.legal {
	text-align: center;
	color: #646567;
	}
	
.legal img {
	height: 30px;
	margin: 15px 0 10px;
	}
	
.puffar .sixcol {
    width: 49.2%;
}



/* ====== Produktslider ====== */



.products {
	margin: 0 auto 10px;
	}
.product_nav_container {
    overflow: hidden;
    margin: 0 auto;
    margin-top: 10px;
    padding: 20px 0;
	background-color: #ffffff;
	height: 125px;
}
#product_nav_container_wide {
    width: 6000px;
    position: relative;
}
.product_container {
    text-align: center;
    width: 960px;
    float: left;
    position: relative;
}
.product_container a {
    margin: 0 12px;
    position: relative;
}
.navwrapper {
	text-align:center;
	background: url("../bilder/grey.png") repeat-x scroll 0 0 #D9D9D9;	
}
.nav {
    display: inline-block;
    margin: 0 auto;
    overflow: hidden;
    background: repeat-x scroll 0 0 transparent;
}
.nav a {
    color: #646464;
    font-size: 12px;
    letter-spacing: 1px;
    margin-right: 10px;
    text-decoration: none;
    line-height: 4em;
    margin: 0 25px;
	display: block;
	float: left;
}
.nav a:hover, .nav a:active {
	background: url("../bilder/hover_product_nav.png") no-repeat scroll center 0 transparent;
}

.nav .active {
	font-weight: bold;
}


/* ==== Contentsida ==== */

.top-content {
	margin: 0 auto;
	}

.top-content ul {
	float: right;
    height: 50px;
	}
	
.top-content ul li {
	display: inline-block;
    line-height: 50px;
	padding: 0 10px;
	font-size: 1.2em;
}


.top-content ul li a {
	color: #000000;
	display: block;
	float: left;
}

.top-content ul li a:hover, .top-content ul li a:active {
	background: url("../bilder/hover_2nav.png") no-repeat scroll center 38px transparent;
	display: block;
	float: left;
	text-decoration: none;
}

.main-content {
	background: #ffffff;
	border-radius: 5px; 
	-moz-border-radius: 5px; 
	-webkit-border-radius: 5px; 
	box-shadow:1px 1px 2px #e2e2e2;	
	color: #646567;
	font-size: 1.2em;
	line-height: 1.4em;
}

.main-content .img img {
	margin: 0 40px 40px 40px;
	}

.main-content .text {
	padding: 0 70px;
	
	}

.main-content h1 {
	font-size: 20px;
	margin: 65px 0 10px 0;	
}




/* ============================= */
/* ! Layout for mobile version   */
/* ============================= */

@media handheld, only screen and (max-width: 767px) {

	body {
		
	}

}


/* ========================================== */
/* ! Provide higher res assets for iPhone 4   */
/* ========================================== */

@media only screen and (-webkit-min-device-pixel-ratio: 2) { 

/*	.logo {
		background: url(logo2x.jpg) no-repeat;
		background-size: 212px 303px;
	}*/

}